# Server Configuration
PORT=3001
CLIENT_URL=http://localhost:5173

# Database Configuration
# DATABASE_URL="file:./dev.db" # Example for SQLite
# DATABASE_URL="mysql://user:password@localhost:3306/stones" # Example for MySQL
